<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Node App</title>
    </head>
    <body>
        <h1>About</h1>
        <p>This is a node application made by {{auther}}.</p>
        {{!-- {{> footer}}  --}}
    </body>
</html>